In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("en openfoodfacts org products.csv")

In [40]:
df.drop(df[df['pnns_groups_1'] == "unknown"].index, inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4735 entries, 6971 to 13218
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   code                                     4735 non-null   int64
 1   product_name                             4475 non-null   object
 2   quantity                                 3582 non-null   object
 3   packaging_en                             1798 non-null   object
 4   brands_en                                4488 non-null   object
 5   categories_en                            4653 non-null   object
 6   origins_en                               888 non-null    object
 7   labels_en                                2494 non-null   object
 8   countries_en                             4735 non-null   object
 9   nutriscore_grade                         4650 non-null   object
 10  pnns_groups_1                            4650 non-null   object
 11  pnns_groups_2                            4650 non-null   object
 12  food_groups_en                           4650 non-null   object
 13  environmental_score_score                937 non-null    float64
 14  environmental_score_grade                1389 non-null   object
 15  main_category_en                         4653 non-null   object
 16  carbon-footprint_100g                    2 non-null      float64
 17  carbon-footprint-from-meat-or-fish_100g  5 non-null      float64
dtypes: float64(3), int64(1), object(14)
memory usage: 702.9+ KB