In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("en openfoodfacts org products.csv")

In [10]:
df.drop(df[df['pnns_groups_1'] == "unknown"].index, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4735 entries, 6971 to 13218
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   code                                     4735 non-null   int64
 1   product_name                             4475 non-null   object
 2   quantity                                 3582 non-null   object
 3   packaging_en                             1798 non-null   object
 4   brands_en                                4488 non-null   object
 5   categories_en                            4653 non-null   object
 6   origins_en                               888 non-null    object
 7   labels_en                                2494 non-null   object
 8   countries_en                             4735 non-null   object
 9   nutriscore_grade                         4650 non-null   object
 10  pnns_groups_1                            4650 non-null   object
 11  pnns_groups_2                            4650 non-null   object
 12  food_groups_en                           4650 non-null   object
 13  environmental_score_score                937 non-null    float64
 14  environmental_score_grade                1389 non-null   object
 15  main_category_en                         4653 non-null   object
 16  carbon-footprint_100g                    2 non-null      float64
 17  carbon-footprint-from-meat-or-fish_100g  5 non-null      float64
dtypes: float64(3), int64(1), object(14)
memory usage: 702.9+ KB

In [12]:
df.to_csv("cleaned_data.csv")

In [13]:
df_co2 = pd.read_csv('https://raw.githubusercontent.com/Phi-project3/finalproject/refs/heads/main/dossier/donnees/source/category_schema/products_category_schema_v1.csv', sep=';')

df_merged = df.merge(df_co2[['category_name', 'average']], how='left', left_on='pnns_groups_2', right_on='category_name')

df_merged.drop(columns=['category_name', 'carbon-footprint_100g', 'carbon-footprint-from-meat-or-fish_100g'], inplace=True)

df_merged.rename(columns={'average': 'carbon-footprint_1kg'}, inplace=True)

df_merged.sample(5)

,code,product_name,quantity,packaging_en,brands_en,categories_en,origins_en,labels_en,countries_en,nutriscore_grade,pnns_groups_1,pnns_groups_2,food_groups_en,environmental_score_score,environmental_score_grade,main_category_en,carbon-footprint_1kg
6889,6410405075345,myslipatukka,150g,Paper,Pirkka,"Snacks,Sweet snacks,Bars,Cereal bars",NaN,Apples,Finland,unknown,Sugary snacks,Biscuits and cakes,"Sugary snacks,Biscuits and cakes",NaN,NaN,Cereal bars,2.500
440,4103040012173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.650
4534,7350042720002,Bearnaise,NaN,NaN,Oluf-lorentzen-as,"Condiments,Sauces,Béarnaise sauce,Groceries",NaN,No gluten,Finland,e,Fat and sauces,Dressings and sauces,"Fats and sauces,Dressings and sauces",NaN,NaN,Groceries,4.607
377,4056489734062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.150
1657,6413600134640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450

In [15]:
df_merged.to_csv("merged_data.csv", index=False)
df_merged

,code,product_name,quantity,packaging_en,brands_en,categories_en,origins_en,labels_en,countries_en,nutriscore_grade,pnns_groups_1,pnns_groups_2,food_groups_en,environmental_score_score,environmental_score_grade,main_category_en,carbon-footprint_1kg
0,7053034112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.50
1,7053034112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.95
2,7053034112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.55
3,7053034112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.20
4,7053034112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7450,6411402164902,Reilu,500 g,Plastic,Oululainen,"Plant-based foods and beverages,Plant-based fo...",NaN,NaN,Finland,e,Cereals and potatoes,Bread,"Cereals and potatoes,Bread",NaN,unknown,Breads,2.50
7451,6411402578525,Imatran riisipiirakka,6 kpl,fi:kartonki-muovi,Fazer,"Meals,Pizzas pies and quiches,Quiches",NaN,NaN,Finland,c,Composite foods,Pizza pies and quiches,"Composite foods,Pizza pies and quiches",NaN,unknown,Quiches,2.95
7452,6420256010860,NaN,120 g,"Plastic,Other-plastics",Cloetta,"Snacks,Sweet snacks,Cocoa and its products,Con...",NaN,NaN,Finland,e,Sugary snacks,Sweets,"Sugary snacks,Sweets",NaN,unknown,Bonbons,2.95
7453,6430053410015,Naan Tandoor - Leipä,250 g,fi:muovipussi,Kirkuk-leipomo,"Plant-based foods and beverages,Plant-based fo...",NaN,NaN,Finland,unknown,Cereals and potatoes,Bread,"Cereals and potatoes,Bread",NaN,unknown,Naans,2.50
7454,7322550037514,Suurustettu kana,60 g,fi:pahvi,Lammin-kuppi,"Meals,Soups,Reheatable soups,fi:kei",NaN,NaN,Finland,c,Composite foods,One-dish meals,"Composite foods,One-dish meals",NaN,unknown,fi:kei,2.95