In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("en openfoodfacts org products.csv")

In [41]:
df.drop(df[df['pnns_groups_1'] == "unknown"].index, inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4735 entries, 6971 to 13218
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   code                                     4735 non-null   int64
 1   product_name                             4475 non-null   object
 2   quantity                                 3582 non-null   object
 3   packaging_en                             1798 non-null   object
 4   brands_en                                4488 non-null   object
 5   categories_en                            4653 non-null   object
 6   origins_en                               888 non-null    object
 7   labels_en                                2494 non-null   object
 8   countries_en                             4735 non-null   object
 9   nutriscore_grade                         4650 non-null   object
 10  pnns_groups_1                            4650 non-null   object
 11  pnns_groups_2                            4650 non-null   object
 12  food_groups_en                           4650 non-null   object
 13  environmental_score_score                937 non-null    float64
 14  environmental_score_grade                1389 non-null   object
 15  main_category_en                         4653 non-null   object
 16  carbon-footprint_100g                    2 non-null      float64
 17  carbon-footprint-from-meat-or-fish_100g  5 non-null      float64
dtypes: float64(3), int64(1), object(14)
memory usage: 702.9+ KB

In [43]:
df.dropna(subset=['pnns_groups_2'], inplace=True)

In [44]:
df.to_csv("cleaned_data.csv")

In [45]:
df_co2 = pd.read_csv('https://raw.githubusercontent.com/Phi-project3/finalproject/refs/heads/main/dossier/donnees/source/category_schema/products_category_schema_v1.csv', sep=';')

df_co2.dropna(subset=['category_name'], inplace=True)

df_merged = df.merge(df_co2[['category_name', 'average']], how='left', left_on='pnns_groups_2', right_on='category_name')

df_merged.drop(columns=['category_name', 'carbon-footprint_100g', 'carbon-footprint-from-meat-or-fish_100g'], inplace=True)

df_merged.rename(columns={'average': 'carbon-footprint_1kg'}, inplace=True)

df_merged.sample(5)

,code,product_name,quantity,packaging_en,brands_en,categories_en,origins_en,labels_en,countries_en,nutriscore_grade,pnns_groups_1,pnns_groups_2,food_groups_en,environmental_score_score,environmental_score_grade,main_category_en,carbon-footprint_1kg
2872,20072803,Miel de fleurs,500g,"Plastic,Pet-polyethylene-terephthalate,Pp-poly...",Maribel,"Breakfasts,Spreads,Sweet spreads,Bee products,...","Spain,Argentina,Cuba,Mexico,Romania",Green Dot,"Finland,France,Germany,Sweden",d,Sugary snacks,Sweets,"Sugary snacks,Sweets",78.0,a,Liquid honeys,2.95
4144,6412500003445,Panda Tekee Hyv채채 suklaa,200 g,"Plastic,Pp-polypropylene","Panda,Orkla","Snacks,Sweet snacks,Cocoa and its products,Con...",NaN,"No palm oil,Rainforest Alliance",Finland,e,Sugary snacks,Sweets,"Sugary snacks,Sweets",NaN,NaN,Bonbons,2.95
130,4056489927129,Mozzarella grated,250 g,NaN,milbona,"Dairies,Fermented foods,Fermented milk product...",NaN,NaN,"Bulgaria,Finland,Romania",d,Milk and dairy products,Cheese,"Milk and dairy products,Cheese",55.0,c,A,12.05
660,6408430408641,Arki jogurtti maustamaton,1 kg,NaN,Valio,"Dairies,Fermented foods,Fermented milk product...",NaN,NaN,Finland,b,Milk and dairy products,Milk and yogurt,"Milk and dairy products,Milk and yogurt",NaN,NaN,Yogurts,1.05
1073,8714100868867,NaN,0.073 kg,NaN,Knorr,"Meals,Savory semolina dishes,Prepared couscous",NaN,NaN,Finland,unknown,Composite foods,One-dish meals,"Composite foods,One-dish meals",NaN,NaN,Prepared couscous,2.95

In [ ]:
df_merged.to_csv("merged_data.csv")

(4650, 17)