In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("en openfoodfacts org products.csv")

In [3]:
df.drop(df[df['pnns_groups_1'] == "unknown"].index, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4735 entries, 6971 to 13218
Data columns (total 18 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   code                                     4735 non-null   int64
 1   product_name                             4475 non-null   object
 2   quantity                                 3582 non-null   object
 3   packaging_en                             1798 non-null   object
 4   brands_en                                4488 non-null   object
 5   categories_en                            4653 non-null   object
 6   origins_en                               888 non-null    object
 7   labels_en                                2494 non-null   object
 8   countries_en                             4735 non-null   object
 9   nutriscore_grade                         4650 non-null   object
 10  pnns_groups_1                            4650 non-null   object
 11  pnns_groups_2                            4650 non-null   object
 12  food_groups_en                           4650 non-null   object
 13  environmental_score_score                937 non-null    float64
 14  environmental_score_grade                1389 non-null   object
 15  main_category_en                         4653 non-null   object
 16  carbon-footprint_100g                    2 non-null      float64
 17  carbon-footprint-from-meat-or-fish_100g  5 non-null      float64
dtypes: float64(3), int64(1), object(14)
memory usage: 702.9+ KB

In [5]:
df.dropna(subset=['pnns_groups_2'], inplace=True)

In [6]:
df.to_csv("cleaned_data.csv")

In [ ]:
df_co2 = pd.read_csv('https://raw.githubusercontent.com/Phi-project3/finalproject/refs/heads/main/dossier/donnees/source/category_schema/products_category_schema_v1.csv', sep=';')

df_co2.dropna(subset=['category_name'], inplace=True)

df_merged = df.merge(df_co2[['category_name', 'average']], how='left', left_on='pnns_groups_2', right_on='category_name')

df_merged.drop(columns=['category_name', 'carbon-footprint_100g', 'carbon-footprint-from-meat-or-fish_100g'], inplace=True)

df_merged.rename(columns={'average': 'carbon-footprint_1kg'}, inplace=True)

df_merged.sample(5)

,code,product_name,quantity,packaging_en,brands_en,categories_en,origins_en,labels_en,countries_en,nutriscore_grade,pnns_groups_1,pnns_groups_2,food_groups_en,environmental_score_score,environmental_score_grade,main_category_en,carbon-footprint_1kg
2389,8002670008531,Pecorino Romano,150 g,NaN,granarolo,"Dairies,Fermented foods,Fermented milk product...",NaN,PDO,Finland,e,Milk and dairy products,Cheese,"Milk and dairy products,Cheese",37.0,d,Pecorino Romano,12.050
2512,6416453028272,Salta katten,80g,NaN,Fazer,"Snacks,Sweet snacks,Confectioneries,Candies",NaN,"New,No gelatin","Finland,Sweden",e,Sugary snacks,Sweets,"Sugary snacks,Sweets",42.0,d,Candies,2.950
2766,6410402011865,Tomaattimurska,500 g,NaN,Pirkka,"Plant-based foods and beverages,Plant-based fo...",Italy,"FSC,FSC Mix",Finland,b,Fat and sauces,Dressings and sauces,"Fats and sauces,Dressings and sauces",NaN,NaN,Tomato purées,4.607
1697,6430075360060,NaN,NaN,NaN,NaN,"Plant-based foods and beverages,Plant-based fo...",NaN,NaN,Finland,b,Cereals and potatoes,Bread,"Cereals and potatoes,Bread",NaN,NaN,Rye breads,2.500
1532,6410402010332,Tonnikalapalat vedessä,NaN,NaN,Pirkka,"Seafood,Fishes and their products,Fishes,Fatty...",NaN,NaN,Finland,unknown,Fish Meat Eggs,Fish and seafood,"Fish‚ Meat‚ Eggs,Fish and seafood,Fatty fish",NaN,NaN,Tuna-in-brine,8.450

In [12]:
df_update = pd.read_csv("finetuned_data.csv", sep=";")
 
df_merged["code"] = df_merged["code"].astype(str)
df_update["code"] = df_update["code"].astype(str)
 
df_main_updated = df_merged.merge(df_update, on='code', how='left')
df_main_updated
 
# Update only where new categories exist
df_main_updated['pnns_groups_2'] = df_main_updated['new_category (pnns_groups_2)'].combine_first(df_main_updated['pnns_groups_2'])
 
# Drop the helper column
df_main_updated.drop(columns=['new_category (pnns_groups_2)'], inplace=True)
 
df_main_updated.to_csv("updated_products.csv", index=False)
 
df_main_updated.sample(3)

,code,product_name,quantity,packaging_en,brands_en,categories_en,origins_en,labels_en,countries_en,nutriscore_grade,pnns_groups_1,pnns_groups_2,food_groups_en,environmental_score_score,environmental_score_grade,main_category_en,carbon-footprint_1kg
3206,5056357900697,Mars Caramel Centres,144g,"Plastic,Tray,Wrapper",Mars,"Snacks,Sweet snacks,Biscuits and cakes,Biscuit...",NaN,Vegetarian,"Finland,Germany",e,Sugary snacks,Sweets,"Sugary snacks,Sweets",40.0,d,Filled drop cookies,2.95
3240,6415712702113,Evelina,125g,Paper,Rainbow,"Snacks,Sweet snacks,Biscuits and cakes,Biscuit...",NaN,"Sustainable farming,EAC,UTZ Certified,UTZ Cert...","Estonia,Finland,Russia,Sweden",e,Sugary snacks,Biscuits and cakes,"Sugary snacks,Biscuits and cakes",66.0,b,Chocolate biscuits,2.50
1837,9421009030347,Extra Virgin avocado oil,NaN,NaN,Olivado,"Plant-based foods and beverages,Plant-based fo...",NaN,"Organic,Kosher",Finland,unknown,Fat and sauces,Fats,"Fats and sauces,Fats",NaN,NaN,Avocado oils,6.05

In [13]:
# df_main_updated[df_main_updated['pnns_groups_2'] == 'Milk and yogurt']

df_main_updated['pnns_groups_2'].value_counts()

pnns_groups_2
Sweets                              504
Biscuits and cakes                  375
Milk and yogurt                     354
One-dish meals                      285
Dairy desserts                      277
Bread                               251
Cheese                              196
Dressings and sauces                188
Breakfast cereals                   184
Chocolate products                  179
Cereals                             161
Meat                                157
Sweetened beverages                 146
Ice cream                           131
Processed meat                      131
Plant-based milk substitutes        115
Vegetables                           89
Artificially sweetened beverages     83
Alcoholic beverages                  81
Fats                                 68
Unsweetened beverages                66
Fish and seafood                     65
Appetizers                           64
Pizza pies and quiches               58
Salty and fatty products             55
Legumes                              47
Fruits                               47
Fruit juices                         42
Nuts                                 36
Eggs                                 31
Potatoes                             28
Waters and flavored waters           25
Soups                                24
Sandwiches                           24
Dried fruits                         20
Teas and herbal teas and coffees     11
Canned foods                         10
Pastries                              9
Yogurt                                9
Poultry                               6
Cream cheese                          5
Teas and herbal teas and coffee       4
Protein snacks and drinks             3
Beef                                  3
Sugar and Honey                       2
Fruit nectars                         1
Name: count, dtype: int64